name: CI
permissions:
  contents: write

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: erlef/setup-beam@v1
        with:
          otp-version: "28"
          gleam-version: "1.12"

      - run: gleam deps download

      - name: Auto format Gleam files
        run: gleam format

      - name: Commit formatting fixes (if any)
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          if [[ `git status --porcelain` ]]; then
            git add .
            git commit -m "chore: auto-format Gleam files"
            git push
          fi

      - run: gleam test
